################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Portfolio/v17
/.vs/Portfolio/config
/.vs/Portfolio/FileContentIndex
/.vs
